.navbar-brand, .nav-link, .fa-shopping-cart
{
    color: white !important;
}

.navbar
{
    transition: 300ms ease;
    background-color: transparent;
}

.scrolled
{
    background-color: black !important;
}

.iconResize
{
    transition: 300ms ease;
    width: 60px;
    height: 60px;
}

.navbar-brand > span
{
    font-size: x-large;
}

.font-large
{
    font-size: large;
    transition: 300ms ease;
}

.font-x-large
{
    font-size: x-large;
    transition: 300ms ease;
}

.font-logo-large
{
    font-size: large !important;
    transition: 300ms ease;
}

.font-small
{
    font-size: small !important;
    transition: 300ms ease;
}

.font-medium
{
    font-size: medium !important;
    transition: 300ms ease;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.my-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.my-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


